<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:blue">
  Assignment 4 Question 4
  </h1>
  <h1>Routing Navigation</h1>
  <h3>Click this to see operating systems:</h3>
  <a href="/operatingsystem">Operating System</a>
  <h3>Click this to see programming languages:</h3>
  <a href="/programminglanguages">Programming Languages</a>
  <h3>Click this to see databases:</h3>
  <a href="/databases">Databases</a>
</div>
<router-outlet></router-outlet>
